@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin: 60px auto 360px;
    border-radius: 20px;
    padding: auto;
    font-family: 'Open Sans', sans-serif;
}

.login-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.left-content {
    max-width: 100%;
    padding: 10px;

}

.left-content h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.left-content p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* */
.social-login {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 12px;
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;
    max-width: 36rem;
}

.google-apple {
    width: 100%;
    max-width: 256px;
    margin: 0 auto;
    height: 52px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    gap: 2px;
    border: 2px solid rgb(156 163 175);
    border-radius: 10px;
}

.google-apple p {
    font-size: 16px;
    font-weight: 600;
    width: 80%;
}

.or {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5px;
    align-items: center;
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;

}

.or hr {
    width: 100%;
    border: 1px solid black;
}

.or span {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.form {
    max-width: 36rem;
    width: 100%;
    margin: 0 auto;

}

.form .email-container,
.form .password-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.form .email-container img,
.form .password-container img {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}

.form .email-container img {
    left: 1rem;
}

.form .email-container input,
.form .password-container input {
    width: 100%;
    height: 65px;
    padding-left: 3rem;
    border: 2px solid rgb(156, 163, 175);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 8px;
}

.form .password-container img {
    right: 1rem;
}

.form .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.form-control {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox input {
    position: relative;
}

.checkbox input::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #091921;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s all ease;
}

/* .checkbox input:checked::before {
    background-color: darkcyan;
    border: 1px solid darkcyan;
  } */
.checkbox input:checked::after {
    position: absolute;
    content: "\f00c";
    margin-right: 2px;
    font-family: "FontAwesome";
    color: #fff;
}

.form .checkbox-container span {
    font-size: 16px;
    color: #000;
}

.form .forgot-password {
    text-align: left;
    margin-top: 0.5rem;

}

.form .forgot-password a {
    text-decoration: none;
    color: blue;
    font-size: 16px;
}

.form .submit-button {
    background-color: #1B434D;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 65px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 35px;
    border: none;
}

.form .signup-text {
    font-size: 18px;
    padding-top: 1.8rem;
}

.form .signup-link {
    font-weight: bold;
    color: #1B434D;
}

/* right part */
.right-content {
    background-color: #1B434D;
    height: 100%;
    max-width: 100%;
}

.particles img {
    position: relative;
    left: 5rem;
    bottom: 2rem;
}

.active {
    position: relative;
    bottom: 4rem;
    text-align: center;
}

.right-content-details {
    text-align: center;
    color: white;
    padding: 6px;
    position: relative;
    bottom: 4rem;
}
.right-content-details h2{
    font-size: 40px;
    font-weight: bold;
}
.right-content-details p{
    font-size: 24px;
}
.loader-item {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.loader {
    width: 80px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

@media screen and (max-width:576px) {
    .container {
        width: 100%;
    }

    .login-content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .left-content {
        order: 2;
    }

    .right-content {
        order: 1;
    }

    .left-content h1 {
        font-size: 30px;
    }

    .left-content p {
        font-size: 20px;
    }

    .social-login {
        width: 100%;
        display: grid;
        gap: 12px;
    }

    .google-apple {
        max-width: 100%;
    }

    .or {
        grid-template-columns: repeat(1, 1fr);
        
        width: 100%;

    }

    .particles img {
        left: 1.5rem;
    }
    .right-content-details h2{
        font-size: 30px;
    }
    .right-content-details p{
        font-size: 20px;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .login-content {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .left-content{
        order: 2;
    }
    .right-content{
        order: 1;
    }
    .left-content h1 {
        font-size: 32px;
    }

    .left-content p {
        font-size: 20px;
    }

    .social-login {
        width: 100%;
        
    }

    .google-apple {
        width: 100%;
    }

    .or {
        width: 100%;
    }
    .right-content-details h2{
        font-size: 32px;
    }
    .right-content-details p{
        font-size: 20px;
    }
}