@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 700px;
    height: 680px;
    max-width: 36rem;
    margin: 0 auto;
    margin: 60px auto 360px;
    background-color: #1B434D;
    border-radius: 20px;
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
}

.particles img {
    position: relative;
    left: 440px;
    bottom: 96px;
}

.text-container {
    color: white;
    text-align: center;
    margin-bottom: 44px;
    position: relative;
    bottom: 155px;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
}

.input-container {
    position: relative;
    margin-bottom: 24px;
    bottom: 130px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.password-input-form{
    position: relative;
}
.password-input {
    width: 100%;
    max-width: 576px;
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    font-size: 18px;
    padding-left: 3rem;
    position: relative;
    box-sizing: border-box;
}

.password-input-form img {
   position: absolute;
   z-index: 50;
   top: 1.2rem;
   left: 1rem;
}
.save-button {
    width: 202px;
    height: 63px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    left:375px;
    bottom: 126px;
    margin-right: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.save-button a{
    color: black;
}
@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .password-input {
        width: 100%;
    }

    .particles img {
        left: 0;
        top: 1px;
    }

    .text-container h2 {
        font-size: 30px;
    }

    .text-container p {
        font-size: 20px;
    }
    .save-button{
        left: 0;
    }
}

/* for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
        height: 100%;
    }

    .particles {
        left: 0;
    }

    .text-container {
        margin-bottom: 24px;
    }

    .text-container h2 {
        font-size: 32px;
    }

    .text-container p {
        font-size: 20px;
    }
    .password-input {
        max-width: 100%;
    }
    .save-button {
        width: 100%;
        left: 0;
    }
}